<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<p>What is your question ?<p>
  <form action="/answer">
  <input type="text" name="question" placeholder="What kind of question?">
  <input type="submit">
</form>
